@mixin button {
    font-family: "Mona Sans";
    border-radius: 4px;
    background-color: $eigengrau;
    border-color: $eigengrau;
    width: 100%;
}

@mixin input {
    border-radius: 4px;
    border: 1px solid $cool-gray;
    width: 100%;
}

@mixin tab {
    border-radius: 200px;
    height: 41px;
    background-color: $white-smoke;
    width: 100%;
}   