@mixin button {
    font-family: "Mona Sans";
    border-radius: 4px;
    background-color: $eigengrau;
    border-color: $eigengrau;
}

@mixin input {
    border-radius: 16px;
    border: 1px solid $desc-color;
}

@mixin tab {
    border-radius: 200px;
    height: 41px;
    background-color: $white-smoke;
}   