body {
    background-color: #FCFCFC;
}

.site-header {
    .nav {
        border-bottom: 1px solid #E7E7E7;
        padding: 16px 0;

        &-main__logo {
            .logo {
                margin-left: 0;
                width: 46px;
                height: 46px;
                border-radius: 50%;
                padding: 0;
                top: 16px
            }
        }

        .navbar-right {
            max-width: 448px;
            width: 100%;

            &__option {
                .list__option {
                    @include input();
                    padding: 12px 16px;
                }
            }

            &__icon {
                svg {
                    height: 22px;
                    width: 22px;
                    margin-right: 39px;

                    &:last-child {
                        margin: 0;
                    }
                }
            }

            &__info {

                &-image {
                    width: 46px;
                    height: 46px;
                    border-radius: 50%;
                }

                .information {
                    padding-left: 16px;

                    h5,
                    p {
                        margin-bottom: 0;
                        font-size: 14px;
                        line-height: 1.5;
                    }

                    p {
                        font-weight: 500px;
                        color: #717584;
                    }
                }
            }
        }
    }

    .navbar {
        --bs-navbar-padding-y: 0;

        .btn {
            display: flex;
            background-color: transparent;
            border-color: transparent;
        }
        .dropdown-toggle::after {
            color: $eigengrau;
        }
    }
}

.content {
    padding-top: 26px;

    &__left {
        padding: 32px;
        gap: 24px;

        .menu {
            list-style-type: none;

            &-item {
                margin-bottom: 44px;
                text-align: center;
                a {
                    @include font-size(14px);
                    font-weight: 600;
                    color: $cool-gray;
                    text-decoration: none;
                    
                    img{
                        display: block;
                        width: 32px;
                        margin: auto;
                    }
                }

            }

            &-item:hover {
                a {
                    color: $persian-blue;
                }
            }
        }
    }

    &__right {
        .user-info-section {
            background-color: $white;
            border: 1px solid #E7E7E7;
        }
    }
}