//main font
$font: 'Mona Sans';

//custom color
$eigengrau: #1C212D;
$eerie-black: #1E1E1E;
$slate-gray: #717584;
$white-smoke: #F4F4F4;
$cool-gray: #989FB9;
$white: #FFFFFF;
$green: #1A9669;
$persian-blue: #143FCD;
$mango-tango:#E77D30;
$misty-rose:#FFE4E4;
$ruddy:#F42929;
$honeydew:#E5FBE7;
$black:#000000;

