@font-face {
  font-family: 'Mona Sans';
  src:
    url('/assets/font/mona-sans/Mona-Sans.woff2') format('woff2 supports variations'),
    url('/assets/font/mona-sans/Mona-Sans.woff2') format('woff2-variations');
  font-style: normal;
  font-display: swap;
}