<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sign up</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../assets/css/bootstrap.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../assets/css/main.css'>
    <script src='main.js'></script>
</head>
<body>
    <!--Left-side bar-->
    <div class="">
        <div class="">
            <img class="" id="" src="../assets/img/logo-white.png"/>
        </div>
        <ul class="">
            <li class="">Select Role</li>
            <li class="">Company Information</li>
            <li class="">Account Information</li>
            <li class="">Verify Email</li>
        </ul>
    </div>
    <!--Sign up tab content-->
    <section class="">
        <!--Step 1-->
        <div class="">
            <h4 class="">Let’s get started</h4>
            <div class="">Select your role</div>
            <div class="">
                <form class="">
                    <div class="">
                        <div class="">
                            <input class="" type="checkbox" id="" name="" value=""/>
                            <label>Talent</label>
                        </div>
        
                        <div class="">
                            <input class="" type="checkbox" id="" name="" value=""/>
                            <label>Start-Up</label>
                        </div>
        
                        <div class="">
                            <input class="" type="checkbox" id="" name="" value=""/>
                            <label>Investor</label>
                        </div>
                    </div>
                    <div class="">
                        <input class="" type="submit" id="" name="" value="Next"/>
                    </div>
                </form>  
            </div>
        </div>

        <!--Step 2-->
        <div class="">
            <h4 class="">About your company</h4>
            <div class="">Enter your company information</div>
            <div class="">
                <form class="">
                    <div class="">
                        <label class="">Company Name</label>
                        <input type="text" class="" placeholder="Enter company name"/>

                        <label class="">Headquarter</label>
                        <input type="text" class="" placeholder="Enter headquater’s address"/>

                        <label class="">Founding Date</label>
                        <input type="date" class="" placeholder="Please Select"/>

                        <label class="">Current team size</label>

                        <label class="">Website</label>
                        <input type="date" class="" placeholder="Please Select"/>

                        <label class="">Industry</label>
                        <select class="" name="" id="">
                            <option class=""  value="">Volvo</option>
                            <option class=""  value="">Saab</option>
                            <option class=""  value="">Opel</option>
                            <option class=""  value="">Audi</option>
                          </select>

                        <label class="">Social Profile</label>
                        <label class="">Linkedin</label>
                        <input type="text" class="" placeholder="Linkedin"/>

                        <label class="">Facebook</label>
                        <input type="text" class="" placeholder="Facebook"/>
                        
                        <label class="">Instagram</label>
                        <input type="text" class="" placeholder="Instagram"/>
                    </div>

                    <div class="">
                        <input type="submit" id="" class="" value="Next"/>
                    </div>
                </form>
            </div>
        </div>
        <!--Step 3-->
        <div class="">

        </div>
        <!--Step 4-->
        <div class="">

        </div>
    </section>
</body>
</html>