<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sign in</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../assets/css/bootstrap.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../assets/css/main.css'>
    <script src='main.js'></script>
</head>

<body>
    <!--Sign in content-->
    <section class="section section--sign-in">
        <div class="section__content">
            <div class="container">
                <div class="row">
                    <!--Left-side content-->
                    <div class="section--sign-in__left col-lg-6">
                        <div class="section--sign-in__image">
                            <img class="" src="../assets/img/sign-in-background.png" />
                        </div>

                        <div class="section--sign-in__info">
                            <h1 class="section__title">Find the job made for you.</h1>
                            <div class="section__subtitle">Browse over 130K jobs at top companies and fast-growing
                                startups.
                            </div>
                        </div>
                    </div>

                    <!--Right-side content-->
                    <div class="section--sign-in__right col-lg-6">
                        <div class="section--sign-in__logo">
                            <img src="../assets/img/logo-black.png" />
                        </div>
                        <!--Sign in with Google-->
                        <h1 class="section__title">Welcome to OV</h1>
                        <div class="section__subtitle">Find the job made for you!</div>
                        <a href="" class="">Login with Google</a>
                        <div class="">or Login with Email</div>

                        <!--Sign in form-->
                        <div class="form">
                            <form>
                                <div class="form__content">
                                    <div>
                                        <label class="">Email Address</label>
                                        <input type="text" class="" placeholder="" />
                                    </div>

                                    <div>
                                        <label class="">Password</label>
                                        <input type="password" class="" placeholder="">
                                    </div>
                                </div>

                                <div class="">
                                    <div><a href="" class="">Forgot Password?</a></div>
                                    <div>
                                        <input type="submit" class="btn btn-primary" value="Log in">
                                    </div>
                                    <div class="">
                                        Not registered?<a href="">Create an Account</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>