.forgot-password {
    .section__background {
        .top-left {
            position: absolute;
            top: 0;
            left: 0;

            img {}
        }

        .bottom-right {
            position: absolute;
            bottom: 0;
            right: 0;

            img {}
        }
    }

    .container {
        position: relative;
        max-width: 432px;
        width: 100%;

        .section__content {
            margin: 0;
            position: absolute;
            top: 50%;
            transform: translateY(25%);

            .forgot-password__logo {
                margin-bottom: 32px;

                img {}
            }

            .section__title {
                margin-bottom: 16px;
            }

            .section__subtitle {
                @include font-size(18px);
                color: $slate-gray;
                font-weight: 500;
                margin-bottom: 32px;

                .email {
                    color: $eigengrau;
                    font-weight: 600;
                }
            }

            .forgot-password__form {

                .gform_body {
                    margin-bottom: 32px;

                    .gfield {
                        margin-bottom: 16px;
                        .gfield_label {
                            @include font-size(14px);
                        }

                        .gfield_input {
                            outline: none;

                            .input {
                                @include input();
                                max-width: 432px;
                                padding: 16px;
                                color: $eigengrau;
                                font-weight: 500;
                            }

                            .input:focus {
                                outline: 1px solid $persian-blue;
                            }

                            ::placeholder {
                                color: $cool-gray;
                            }
                        }
                    }
                }

                .gform_bottom {
                    text-align: center;
                    .gform_button {
                        margin-bottom: 32px;
                        .submit_button {
                            @include button();
                            max-width: 432px;
                            padding: 16px;
                            color: $white;
                        }
                    }

                    .gform_link {
                        font-weight: 500;
                        color: $eigengrau;
                    }
                }
            }
        }
    }
}