.sign-in {
    padding-top: 100px;
    padding-bottom: 100px;

    .section__content {
        .sign-in__left {
            max-width: 628px;
            width: 100%;
            margin-right: 156px;
            
            .sign-in__image {}

            .sign-in__info {
                padding-top: 64px;
                max-width: 507px;
                width: 100%;
                margin: auto;

                .section__title {
                    margin-bottom: 20px;
                }

                .section__subtitle {
                    color: $eigengrau;
                    font-weight: 400;
                    max-width: 389px;
                    width: 100%;
                }
            }
        }

        .sign-in__right {
            max-width: 432px;
            width: 100%;
            padding-top: 80px;

            .sign-in__logo {
                margin-bottom: 32px;
            }

            .section__title {
                @include font-size(40px);
                margin-bottom: 16px;
            }

            .section__subtitle {
                @include font-size(18px);
                margin-bottom: 32px;
                color: $slate-gray;
            }

            .sign-in__google {
                &__btn {
                    @include input();
                    max-width: 432px;
                    padding: 12px 16px;
                    margin-bottom: 32px;
                    display: block;
                    color: $eigengrau;
                    text-decoration: none;
                    font-weight: 600;

                    img {
                        margin-right: 16px;
                    }
                }

                &__desc {
                    max-width: 360px;
                    width: 100%;
                    color: $cool-gray;
                    font-weight: 500;
                    border-bottom: 1px solid $cool-gray;
                    line-height: 0.1em;
                    margin: auto;

                    span {
                        background: #fff;
                        padding: 0 10px;
                    }
                }
            }

            .gform_body {
                padding-top: 32px;

                .gfield {
                    .gform_label {
                        @include font-size(14px);
                        font-weight: 600;
                    }

                    &_input {
                        outline: none;
                        margin-bottom: 16px;

                        .input {
                            @include input();
                            padding: 16px 16px;
                            max-width: 432px;
                            color: $eigengrau;
                            font-weight: 500;
                        }

                        .input:focus {
                            outline: 1px solid $persian-blue;
                        }

                        ::placeholder {
                            color: $cool-gray;
                        }
                    }
                }
            }

            .gform_bottom {
                &_forgot-password {
                    text-align: right;
                    margin-bottom: 32px;

                    a {
                        color: $eigengrau;
                        font-weight: 600;
                    }
                }

                &_submit {
                    margin-bottom: 32px;

                    .submit_button {
                        @include button();
                        max-width: 661px;
                        padding: 16px;
                        color: $white;
                    }
                }

                &_register {
                    text-align: center;
                    color: $eigengrau;
                    font-weight: 600;
                    a {
                        color: $eigengrau;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}